[
{gnssd, [
	{redis, {"localhost", 6379}}, %ok
	{test, passed}
]},
{lager, [
	{handlers, [
		{lager_console_backend, notice},
		{lager_file_backend, [
			{file,"log/error.log"},
			{level,error},
			{size, 10485760},
			{date, "$D0"},
			{count, 5}
		]},
		{lager_file_backend, [
			{file,"log/debug.log"},
			{level, debug},
			{size, 10485760},
			{date, "$D0"},
			{count, 5}
		]},
		{lager_file_backend, [
			{file,"log/console.log"},
			{level, info},
			{size, 10485760},
			{date, "$D0"},
			{count, 5}
		]}
		]}
	]}
	].


